<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<p><b>Fist Name :</b>{{info.firstName}}</p>
<p><b>Last Name :</b>{{info.lastName}}</p>
<p><b>Phone Number :</b>{{info.phoneNumber}}</p>

<input type="text" [(ngModel)]='item.msg'>
<button (click)="addItem()" [disabled]="!item.msg">Add Item</button>
<div *ngIf="items.length>0 ; else noItems">
<ul>
  <li *ngFor="let item of items ; let i index"><b>{{item.id}}:</b>{{item.msg}}</li>
</ul>
</div>
<ng-template #noItems>
  <p>liste des message est vide </p>
</ng-template>

